<p id="notice"><%= notice %></p>

<div class="first_post">
  <h2><%= @new_post.title %></h2>
  <article>
    <p>
      <%= image_tag @new_post.picture %><%= @new_post.content %>
    </p>
  </article>
</div>

<div class="old_posts">
  <% @old_posts.each do |postings| %>
      <h3><%= postings.title %></h3>
      <p><%= image_tag postings.picture %><%= postings.content %></p>
      __________________________ Fin
  <% end %>
</div>
