<p id="notice"><%= notice %></p>

<h1>Listado de Ordenes</h1>

<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Nombre</th>
      <th>Dirección</th>
      <th>Email</th>
      <th>Pago</th>
      <th>Envío</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
        <td><%= order.id %></td>
        <td><%= order.name %></td>
        <td><%= order.address %></td>
        <td><%= order.email %></td>
        <td><%= order.pay_type %></td>
        <% if order.ship_date %>
          <td><%= order.ship_date.to_date %></td>
        <% else %>
          <td> No enviado </td>
        <% end %>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: '¿Seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Regresar a menú de administrador', admin_path %>
<!-- <%= link_to 'New Order', new_order_path %> -->
