<p id="notice"><%= notice %></p>

<h2>Su canasta con sus artículos...</h2>


<table>
  <% @cart.line_items.each do |item| %>
    <tr>
      <td><%= item.quantity %> &times;</td>
      <td><%= item.product.tittle %></td>
      <td class="item_price"><%= number_to_currency(item.total_price) %></td>
    </tr>
  <% end %>

  <tr class="total_line">
    <td colspan="2">Total:</td>
    <td class="total_cell"><%= number_to_currency(@cart.total_price) %></td>
  </tr>
</table>

<%= button_to 'Vaciar la canasta', @cart, method: :delete,
              data: {confirm: '¿Está seguro(a)?' } %>
