<%= form_for(product) do |f| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tittle, "Producto" %>
    <%= f.text_field :tittle %>
  </div>

  <div class="field">
    <%= f.label :description, 'Descripción' %>
    <%= f.text_area :description, rows: 3, cols: 40 %>
  </div>

  <div class="field">
    <%= f.label :presentation, 'Presentación' %>
    <%= f.text_area :presentation, rows: 4, cols: 40 %>
  </div>

  <div class="field">
    <%= f.label :indication, 'Indicaciones' %>
    <%= f.text_area :indication, rows: 4, cols: 40 %>
  </div>

  <div class="field">
    <%= f.label :properties, 'Propiedades' %>
    <%= f.text_area :properties, rows: 4, cols: 40 %>
  </div>

  <div class="field">
    <%= f.label :image_url, 'Imagen' %>
    <%= f.text_field :image_url %>
  </div>

  <div class="field">
    <%= f.label :laboratory, 'Laboratorio' %>
    <%= f.text_field :laboratory %>
  </div>

  <div class="field">
    <%= f.label :price, 'Precio al público' %>
    <%= f.text_field :price %>
  </div>

  <div class="actions">
    <%= f.submit 'Agregar producto' %>
  </div>
<% end %>
