<p id="notice"><%= notice %></p>

<h1>Productos</h1>

<table>
<% @products.group_by(&:catalogo_id).each do |catalog, productos| %>
  <tr class="catalogo">
    <td colspan="3"><h3><%= Catalogo.find(catalog).tipo_prod %></h3></td>
  </tr>

  <% productos.each do |product| %>

  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">

    <td>
      <%= image_tag(product.image_url, class: 'list_image') %>
    </td>

    <td class="list_description">
      <dl>
        <dt><%= product.tittle %></dt>
        <dd><%= truncate(strip_tags(product.description), length: 80) %></dd>
        <dd><%= truncate(strip_tags(product.presentation), length: 80) %></dd>
        <dd><%= product.laboratory %></dd>
        <dd><%= product.safety_catalog == 0 ? "No definido" : Catalogo.find(product.safety_catalog).tipo_prod %></dd>
      </dl>
    </td>

    <td class="list_actions">
      <%= link_to 'Show', product %><br/>
      <%= link_to 'Edit', edit_product_path(product) %><br/>
      <%= link_to 'Destroy', product, method: :delete, data: { confirm: '¿Esta seguro de eliminar el producto?' } %>
    </td>
  <% end %>

  </tr>
<% end %>
</table>

<br>

<%= link_to 'New Product', new_product_path, class: "btn" %>
