
<p id="notice"><%= notice %></p>

<h1>Catálogo de productos</h1>

  <% @products.group_by(&:catalogo_id).each do |catalog, productos| %>
    <button class="accordion">
      <h3><%= Catalogo.find(catalog).tipo_prod %></h3>
      <%= image_tag(productos.first.image_url, size: "30x50" ) %>
      <%= image_tag(productos.last.image_url, size: "20x40" ) %>
    </button>
    <div class="panel">
      <% productos.each do |product| %>
        <div class="entry">
          <h3><%= product.tittle %></h3>
          <div class="row-container">
            <div class="columna par-imagen">
              <%= image_tag(product.image_url) %>
            </div>
            <div class="columna par-descrip">
              <%= sanitize(product.description) %>
              <h4>Presentación:</h4>
              <%= sanitize(product.presentation) %>
              <h4>Indicaciones:</h4>
              <%= sanitize(product.indication) %>
              <h4>Propiedades:</h4>
              <%= sanitize(product.properties) %>
              <%= button_to 'Tabla Nutricia', tabla_nut_path(product.id), method: :get, form_class: "myButn", remote: true %>
            </div>
            <div class="columna par-precio-botones">
              <div class="price_line">
                <span class="price">Precio: <%= number_to_currency(product.price) %></span>
                <!-- Disable cart untill banking is defined 
                <%= button_to '', line_items_path(product_id: product), form_class: "carrito",
                    remote: true %>
                -->
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
  <div class="lugar">

  </div>
