<!DOCTYPE html>
<html>
  <head>
    <title>Farmacia ZI</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" >
    <link href="https://fonts.googleapis.com/css?family=Exo" rel="stylesheet">
  </head>

  <body class='<%= controller.controller_name %>'>
    <% if controller.action_name != 'hogar' %>
        <header id="head-noHogar">
          <%= image_tag "logoPharma.png", size: "90x50", alt: "Zi Farmacia" %>
        </header>
    <% end %>
    <div id="main">
      <div class="main-grid-item"></div>
      <div class="main-grid-item">
        <%= yield %>
        <div class="erika">
          <% letrero ="PRODUCTOS" %>
          <%= button_to letrero, store_path, method: :get %>
          <%= button_to 'CATÃLOGO', asset_path("CATALOGOZi.pdf"), method: :get, download: 'CATALOGOZi.pdf' %>
          <%= button_to 'RECOMENDACIONES', inicio_path, method: :get %>
          <%= button_to 'NOSOTROS', contacto_path, method: :get %>
          <%= button_to 'INICIO', root_path, method: :get %>
        </div>
      </div>
      <div class="main-grid-item"></div>

    </div>

    <footer class="footer">
      <%= link_to image_tag("logoBNR.png", alt:'Login'), "https://blackneuron.herokuapp.com", target: :_blank %>
      <section>
            <%= link_to image_tag("TardisIcon.png", alt: ''), login_path, id: "tardis" %>
      </section>
      <small>
        Desarrollo: fernando.flores1961@gmail.com
      </small>
    </footer>
    <div class="debug">
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
